#logo_uba {
  width: 70px;
}

#logo_innoq {
  margin: 0 0 20px 60px;
  width: 90px;
}

nav ul {
  list-style: none;
  margin-top: 50px;
  padding: 0;
}

h1 a {
  color: #222;
  font-weight: bold;
  text-decoration: none;
}

img {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
}

